@font-face {
    font-family: 'Ka Boom';
    src: url('/regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Ka Boom';
    src: url('/bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    }

@font-face {
    font-family: 'Ka Boom';
    src: url('/italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    }
